@model FleetManagementWebApplication.Models.Plan
<link rel="stylesheet" href="~/css/site.css" />
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/LayoutManager.cshtml";
}
<style>
    .box {
        text-align: left;
        position: relative;
        top: 40px;
        padding: 10px 30px;
    }

    .box {
        width: 45%;
        height: 400px;
        background: #FFF;
        margin: 40px auto;
    }
</style>
<div class="box-wrapper">
    <div class="box effect6  ">
        <div class="w3-container w3-padding">
            <h1>Delete</h1>

            <h5>Deleting this plan means deleting all the scheduled activities related to it</h5>

            <h4>Plan @Model.Name</h4>
            <hr />



            <form asp-action="DeleteConfirmed">
                <input type="hidden" asp-for="Id" />
                <center>
                    <input type="submit" value="Delete" class="w3-button w3-theme " />
                </center>
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
    </div>