@model IEnumerable<FleetManagementWebApplication.Models.Driver>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutManager.cshtml";
}
<link rel="stylesheet" href="~/css/Style.css" />
<div class="box effect6">
    <h3>Drivers Ranks</h3>
    <div class="w3-container w3-padding">
        <center>
            @foreach (Driver d in (Driver[])Model)
            {
                <table width="90%" cellspacing="0px" class='table3'>
                    <tr>
                        <td style="width:15%;">
                            <div >
                                <img src="~/images/@d.Image" width='70' height='70' />
                            </div>
                        </td>
                        <td style="font-size:20px;vertical-align:middle;width:65%;">

                            Name : @d.Name
                            <br />  Score: @d.Score
                        </td>
                        <td >
                            <span class="round">Rank @d.Rank</span><br />
                        </td>
                    </tr>
                </table>
                <br />
            }

        </center>

