<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FleetManagementWebApplication</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: "Open Sans", sans-serif
        }


        /* Make the image responsive */
        .container img {
            width: 100%;
            height: 650px;
        }

        /* Style the button and place it in the middle of the container/image */
        .container .btn {
            position: absolute;
            top: 23%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: #555;
            color: white;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

            .container .btn:hover {
                background-color: black;
            }
    </style>
</head>
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" asp-controller="Home" asp-action="Index"><i class="fa fa-bars"></i></a>
        <a asp-controller="Home" asp-action="Index" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><img src="~/images/logo.png" class="w3-circle " style="height:23px;width:23px" alt="Avatar"> &nbsp;Fleet Management System</a>
        <a asp-controller="Home" asp-action="About" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" >About</a>
        <a asp-controller="Home" asp-action="Contact" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings">Contact</a>

        <a asp-controller="Home" asp-action="LogIn" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" >
            Log in
        </a>
        <a asp-controller="Managers" asp-action="Create" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" >
            Get started

        </a>
    </div>
</div>
<body>
            @RenderBody()
      
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
