@model AddClient
@{
    ViewData["Title"] = "Add Client";
    Layout = "LayoutManager";
}
    
    <div class="box effect6">
        <h3>Create Client Account</h3>
        <div class="w3-container ">
            <form asp-controller="Map" asp-action="AddClient">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>





                <h6 class="w3-opacity"> Name :</h6>
                <input asp-for="Name" style="width:100%" class="w3-border w3-padding" value="Client Name">
                <span asp-validation-for="Name" class="text-danger"></span>

                <h6 class="w3-opacity"> Email :</h6>
                <input asp-for="Username" style="width:100%" class="w3-border w3-padding" value="client@web.com">
                <span asp-validation-for="Username" class="text-danger"></span>

                <h6 class="w3-opacity"> Password:</h6>
                <input asp-for="Password" style="width:100%" class="w3-border w3-padding" value="ChangeMe123">
                <span asp-validation-for="Password" class="text-danger"></span>

                <h6 class="w3-opacity">Phone :</h6>

                <input asp-for="Phone" style="width:100%" class="w3-border w3-padding" value="03 333 333">
                <span asp-validation-for="Phone" class="text-danger"></span>

                <button type="submit" class="  button1 w3-left" style="margin-top:20px">
                    Save
                </button>

            </form>
        </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




<style>

    .button1 {
        background-color:grey;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
         font-weight: bold;
       transition-duration: 0.4s;
        cursor: pointer;
    }
       



        .button1:hover {
            background-color: cornflowerblue;
           
            font-weight: bold;
        }

    html, body, h1, h2, h3, h4, h5 {
        font-family: "Open Sans", sans-serif
    }

    body {
        background: #ccc
    }

    .box {
        text-align: left;
        position: relative;
        padding: 30px 30px;
        
        width: 70%;
      background: #FFF;
    }

    .effect6 {
        position: relative;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 1px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }

        .effect6:before, .effect6:after {
            content: "";
            position: absolute;
            z-index: -1;
            -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
            -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
            box-shadow: 0 0 50px rgba(0,0,0,0.8);
            top: 10%;
            bottom: 0;
            left: 10px;
            right: 10px;
            -moz-border-radius: 100px / 10px;
            border-radius: 100px / 10px;
        }

        .effect6:after {
            right: 10px;
            left: auto;
            -webkit-transform: skew(8deg) rotate(3deg);
            -moz-transform: skew(8deg) rotate(3deg);
            -ms-transform: skew(8deg) rotate(3deg);
            -o-transform: skew(8deg) rotate(3deg);
            transform: skew(8deg) rotate(3deg);
        }
</style>