@{
    ViewData["Title"] = "Automatic response";
Layout="LayoutManager";
string X="false";
if(ViewData["switch"]!=null ){
    if((bool)ViewData["switch"])
       { X="true";}
}
}
<style>


    .box {
        text-align: left;
        position: relative;
        top: 40px;
        padding: 10px 30px;
        width: 50%;
        padding-bottom:40px;
        background: #FFF;
        margin: 40px auto;
    }

.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 50px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(70px);
  -ms-transform: translateX(70px);
  transform: translateX(70px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 500px;
}

.slider.round:before {
  border-radius: 100%;
} 
</style>
<form asp-controller="Map" asp-action="SwitchMode" method="get">
    <div class="box-wrapper">
        <div class="box effect6">

            <h6 class="w3-opacity">
                By switching to automatic reponse mode the companies deliveries requests will be
                answered automatically without having the supervisor involved.
                <br />The system will find the  vehicle and route that best fits the requested order.<br />

            </h6>
            <br />
            <center>
                <label class="switch">
                    @if (X == "true")
                    {
                        <input type="checkbox" name="AutomaticResponse" checked />
                    }
                    else
                    {
                        <input type="checkbox" name="AutomaticResponse" />
                    }
                    <span class="slider round"></span>
                </label>
            </center>

            <br><br>
            <button type="submit" class="w3-button w3-theme w3-right">
                <!--<i class='fas fa-check'></i>--> Save
            </button>
            <br />
            <br />

        </div>
    </div>
    </form>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
