@model FleetManagementWebApplication.Models.DeliverySummary

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/LayoutManager.cshtml";
}

<h1>Edit</h1>

<h4>DeliverySummary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartFuelLevel" class="control-label"></label>
                <input asp-for="StartFuelLevel" class="form-control" />
                <span asp-validation-for="StartFuelLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndFuelLevel" class="control-label"></label>
                <input asp-for="EndFuelLevel" class="form-control" />
                <span asp-validation-for="EndFuelLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartOdometer" class="control-label"></label>
                <input asp-for="StartOdometer" class="form-control" />
                <span asp-validation-for="StartOdometer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndOdometer" class="control-label"></label>
                <input asp-for="EndOdometer" class="form-control" />
                <span asp-validation-for="EndOdometer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfSpeedings" class="control-label"></label>
                <input asp-for="NumberOfSpeedings" class="form-control" />
                <span asp-validation-for="NumberOfSpeedings" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NumberOfNoSeatbelts" /> @Html.DisplayNameFor(model => model.NumberOfNoSeatbelts)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NumberOfHarshbreaks" /> @Html.DisplayNameFor(model => model.NumberOfHarshbreaks)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

