@{
    ViewData["Title"] = "Index";
    Layout = "LayoutManager";
}

    <br /><br /><br />

<h1>@ViewData["Id"]</h1>
<h1>@ViewData["Name"]</h1>
<h1>@ViewData["CompanyId"]</h1>
<h1>@ViewData["CompanyName"]</h1>