@model IEnumerable<FleetManagementWebApplication.Models.Driver>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutManager.cshtml";
}

<style>

    .btn1 {
        text-align: right;
    }

    .box {
        text-align: left;
        position: relative;
        padding: 1px 1px;
        width: 800px;
        background: #FFF;
        margin: 6px 5px;
    }
</style>
<br />
<table align="center">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="box effect6 effect6 ">
                    <div class="w3-container w3-padding">


                        <table width="100%">
                            <tr>
                                <td rowspan="3" >
                                    <img src="~/images/@item.Image" style="width:200px ; height:200px;"/>
                                    </td>
                                <td rowspan="3">
                                    <h3>@item.Name   </h3>
                                    <h6 class="w3-opacity">Username : @item.Username</h6>
                                    <h6 class="w3-opacity">Birthdate :@item.Birthdate</h6>
                                    <h6 class="w3-opacity">Address :@item.Address</h6>
                                    <h6 class="w3-opacity">Phone :@item.Phonenumber </h6>
                                </td>

                                <td class="btn1">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td class="btn1">
                                    <form asp-controller="Drivers">
                                        <input type="hidden" name="id" value="@item.Id" />


                                        <button type="submit" class=" w3-button w3-theme w3-large sized" formaction="/Drivers/Edit"> Edit</button>
                                    </form>
                                </td>
                            <tr>
                                <td class="btn1">
                                    <form asp-controller="Drivers">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button type="submit" class=" w3-button w3-theme w3-large sized" formaction="/Drivers/Delete"> Delete</button>
                                    </form>
                                </td>
                            </tr>
                        </table>


                    </div>
                </div>

            </td>
        </tr>

    }
</table>

